<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>About - Translate Voice India</title>
</head>
<body>
    <!-- OUR 1ST STRIP DIV  -->
  <div class="container">
    <div class="header">
        <span id="time"></span>
        <ul class="he">
            <li>
                <a href="#"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.co.in/">Google</a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/">Instagram</a>
            </li>
            <!-- <button class="btn"> <a href=""> login</a></button> -->


        </ul>

    </div>
    <!-- OUR NAVBAR DIV  -->
    <nav id="navbar">
        <div id="logo">
            <img src="asset/logo.png" alt="Translate Voice India">
        </div>
        <ul>
            
            <li class="items" id="nav2">
                <a href="#">YouTube</a>
            </li>
            <li class="items" id="nav3">
                <a href="#">Blog</a>
            </li>
            <li class="items" id="nav4">
                <a href="#">Survey</a>
            </li> 
            <li class="items" id="nav8">
                <a href="#">View Gallery</a>
            </li>
            <li class="items " id="nav1">
              <a href="#">About us <i class="fas fa-care"></i></a>

          </li>
            <li class="items" id="nav9">
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
</div>
    <main>
        <p>This is the About page of Translate Voice India. Insert your content here.</p>
    </main>
    <footer>
        <p>&copy; 2024 Translate Voice India</p>
    </footer>
</body>
</html>
