<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <meta charset="utf-8">
 <title> Our Aim </title>
 <!-- <link rel="stylesheet" href="AimStyles.css"> -->
 <link rel="stylesheet" href="css/style.css">
 <script src="project.js"></script>
 <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,400;1,600&display=swap" rel="stylesheet">
 <style>
   *{ font-family: 'Open Sans', sans-serif; }
 </style>
</head>


<body>
    <!-- OUR 1ST STRIP DIV  -->
  <div class="container">
    <div class="header">
        <span id="time"></span>
        <ul class="he">
            <li>
                <a href="#"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.co.in/">Google</a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/">Instagram</a>
            </li>
            <!-- <button class="btn"> <a href=""> login</a></button> -->


        </ul>

    </div>
    <!-- OUR NAVBAR DIV  -->
    <nav id="navbar">
        <div id="logo">
            <img src="asset/logo.png" alt="Translate Voice India">
        </div>
        <ul>
            
            <li class="items" id="nav2">
                <a href="#">YouTube</a>
            </li>
            <li class="items" id="nav3">
                <a href="#">Blog</a>
            </li>
            <li class="items" id="nav4">
                <a href="#">Survey</a>
            </li> 
            <li class="items" id="nav8">
                <a href="#">View Gallery</a>
            </li>
            <li class="items " id="nav1">
              <a href="#">About us <i class="fas fa-care"></i></a>

          </li>
            <li class="items" id="nav9">
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
</div>
      
    <p>
    </p>
  
    <div id="main">
        <div class="card1">
            <div class="card-inner1">
                <div class="card-front1">
                  <h1> Our Aim</h1>
                </div>
                  
                <div class="card-back1">
                    <p>Unlocking Accessibility: Transforming the landscape of video content with multilingual accessibility. Overcoming language barriers, we ensure universal understanding, reaching 80% more viewers worldwide. </p>
                </div>
            </div>
            </div>
     
  
        <div class="card2">
            <div class="card-inner2">
                <div class="card-front2">
                  <h1>Our Impact </h1>
                </div>
                  
                <div class="card-back2">
                    <p>We're revolutionizing access to intellectual property info, dismantling barriers for all. Empowering diverse linguistic communities, we break down language barriers, reaching millions. Our efforts drive a 30% increase in public awareness, fueling societal progress. We're not just a project; we're a movement shaping a better-informed world.</p>
                </div>
            </div>
            </div>
</div>
    
    <script type="text/javascript" src="AimScript.js"></script>
</body>
</html>