<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <meta charset="utf-8">
 <title> Contact Us </title>
 <link rel="stylesheet" href="contact.css">
 <link rel="stylesheet" href="style.css">
 

</head>


<body>
    <!-- OUR 1ST STRIP DIV  -->
  <div class="container">
    <div class="header">
        <span id="time"></span>
        <ul class="he">
            <li>
                <a href="#"><i class="fa-solid fa-house"></i>Home</a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.co.in/">Google</a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/">Instagram</a>
            </li>
            <!-- <button class="btn"> <a href=""> login</a></button> -->


        </ul>

    </div>
    <!-- OUR NAVBAR DIV  -->
    <nav id="navbar">
        <div id="logo">
            <img src="asset/logo.png" alt="Translate Voice India">
        </div>
        <ul>
            
            <li class="items" id="nav2">
                <a href="#">YouTube</a>
            </li>
            <li class="items" id="nav3">
                <a href="#">Blog</a>
            </li>
            <li class="items" id="nav4">
                <a href="#">Survey</a>
            </li> 
            <li class="items" id="nav8">
                <a href="#">View Gallery</a>
            </li>
            <li class="items " id="nav1">
              <a href="#">About us <i class="fas fa-care"></i></a>

          </li>
            <li class="items" id="nav9">
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
</div>
    

<div id = "allign">

    <div class="box1">
        
        Swagat Afford, Sargasan, <br>
        Gandhinagar, Gujarat. <br>
        382421.  <br>
        Mob no: 9050615879.

    </div>

    <div class="box2">

        <a href = "https://www.google.com/maps/place/Collectorate+District+Guna/@24.6448858,77.3217113,16z/
        data=!4m8!1m2!2m1!1sJ8WF%2BWR7,+khiyava+Colony,+Guna,+Madhya+Pradesh.+473001!3m4!1s0x397a5be60d4f8d63
        :0x51f42e1be38c3cce!8m2!3d24.647296!4d77.324534"   target="_blank">
            <img src = "map.jpg">
        </a>

    </div>

</div>
</body>
</html>