{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title> Translate Voice India </title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
	<!-- <link rel="stylesheet" href="css/style.css"> -->
  <!-- <script src="project.js"></script> -->
  <script src="{% static 'js/project.js' %}"></script>
  <script src="{% static 'js/dropdown.js' %}"></script>
  <!-- <script src="dropdown.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>
<body>
  <!-- OUR 1ST STRIP DIV  -->
  <!-- <div class="container">
    <div class="header">
        <span id="time"></span>
        <ul class="he">
            <li>
                <a href="#"><i class="fa-solid fa-house"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.google.co.in/"><i class="fa-brands fa-google"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/">
 
                    <i class="fa-brands fa-instagram"></i></a>
            </li> -->
            <!-- <button class="btn"> <a href=""> login</a></button> -->


        <!-- </ul> -->

    <!-- </div> -->
    <!-- OUR NAVBAR DIV  -->
    <!-- <nav id="navbar">
        <div id="logo">
            <img src="asset/logo.png" alt="Translate Voice India">
        </div>
        <ul>
            
            <li class="items" id="nav2">
                <a href="https://www.youtube.com" target="_blank">YouTube</a>
            </li>
            <li class="items" id="nav3">
                <a href="#">Blog</a>
            </li>
            <li class="items" id="nav4">
                <a href="#">Survey</a>
            </li> 
            <li class="items" id="nav8">
                <a href="#">View Gallery</a>
            </li>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Learn More</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="about.html">About Us</a>
                  <a href="aim.html">Our Objectives</a>
                  <a href="team.html">Our Team</a>
                </div>
              </div>
            <li class="items" id="nav9">
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </nav>
</div> -->
  <p> Translate Voice India!!! </p>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="video_file">Upload Video File</label>
    <input type="file" name="video_file" id="video_file" accept="video/*"><br><br>

    <label for="video_url">Or Enter Video URL</label>
    <input type="url" name="video_url" id="video_url" placeholder="Enter Video URL"><br><br>

    <select name="language">
        <option>Select your preferred language</option>
        <option value="hi">Hindi</option>
        <option value="gu">Gujarati</option>
        <option value="kn">Kannada</option>
        <option value="bn">Bengali</option>
        <option value="ta">Tamil</option>
        <option value="te">Telugu</option>
        <option value="ml">Malayalam</option>
        <option value="mr">Marathi</option>
        <option value="pa">Punjabi</option>
    </select><br><br>

    <input type="submit" name="submit" value="Submit">
</form>

<br><br><br><br>
 

</body>

</html>