<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
 <meta charset="utf-8">
 <title> Our Team </title>
 <link rel="stylesheet" href="team.css">
 <link rel="stylesheet" href="style.css">
</head>


<body>
    <header>
        <nav class="navbar">
            <ul>
              <li class="logo"><a href="index.html"> <img src="logo.jpg" alt="TVC" height="50px" width="50px" /></a> </li>
              <li><a href="youtube.html">YouTube</a></li>
      
              <li><a href="blog.html">Blog<i class="fas fa-angle-down"></i> </a></li>
      
              <li><a href="survey.html">Survey <i class="fas fa-angle-down"></i> </a>
            </li>
              
              <li><a href="about.html">About Us</a>
                 <ul>
                     <li><a href="aim.html">Our Aim</a></li>
                  <li><a href="team.html">Our Team</a></li>
                  <li><a href="contactus.html">Contact Us</a></li>
      
                </ul>
            </li>
               
              </ul> 
          </nav>
  </header>
  <div id="main"> 
<div class="team">
    <div class="column">
      <div class="card">
        <img src="rajan.jfif" alt="Rajan" style="width:100%">
        <div class="container">
          <h2>Rajan Kumar</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>202051152@iiitvadodara.ac.in</p>
          <p>
              <a href = "contactus.html">
                <button class="button">Contact</button>
              </a>
          </p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img src="diya.jfif" alt="diya" style="width:100%">
          <div class="container">
            <h2>Diya Garg</h2>
            <p class="title">Web Developer&amp; Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>202251044@iiitvadodara.ac.in</p>
            <p>
                <a href = "contactus.html">
                  <button class="button">Contact</button>
                </a>
            </p>
          </div>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img src="neetu.jfif" alt="neetu" style="width:100%">
        <div class="container">
          <h2>Neetu Choudhary</h2>
          <p class="title">ML</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>202251075@iiitvadodara.ac.in</p>
          <p>
            <a href = "contactus.html">
              <button class="button">Contact</button>
            </a>
        </p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="manan.jpg" alt="manan" style="width:100%">
        <div class="container">
          <h2>Manan Sharma</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>202251070@iiitvadodara.ac.in</p>
          <p>
            <a href = "contactus.html">
              <button class="button">Contact</button>
            </a>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
  </html>